a{
  display:block;
  text-align: center;
  font-size: 17px;
  color: rgb(58, 67, 64);
}
a:hover{
  color: rgba(58, 67, 64, 0.5);
}
h1{
  font-size: 35px;
  text-align: center;
  color: rgb(88, 150, 135);
}
p{
  text-indent: 35px;
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 20px
}
